@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0 0% 100%;
  --foreground: 222.2 84% 4.9%;
}

body {
  color: #111827; /* text-gray-900 */
  background: #ffffff;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
